*margin
{
    margin: 1%;
    text-align: center;
}

table
{
    margin: 1% auto;
}

.tabla
{
    border: 1px solid;
    width: 400px;
    border-collapse:center;
}

.tabla td
{
    border: 1px solid;
    text-align: center;
}

.tabla th
{
    background-color: aqua;
}

.tabla tr:hover
{
    background-color: blueviolet;
}

h1{
    text-align: center;
}